.animal__bg {
    display: block;
    width: 100%;
    height: 100%;
    @media(max-width: 1000px) {
        width: 100%;
        object-fit: cover;
    }
    @media(max-width: 640px) {
        width: 100%;
        margin-left: 0px;
        object-fit: cover;
    }
}
.animal {
    @media(max-width: 1000px) {
        height: 390px; 
    }
    @media(max-width: 640px) {
        height: 335px; 
        margin-top: 34px;
    }
}

