.backstage {
    background-image: url("../../assets/images/flower.jpg");
    background-repeat: no-repeat;
    background-position: 1400px 12px;

}

.backstage__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 118px;
    @media(max-width: 1000px) {
        padding-top: 100px;
        padding-bottom: 145px; 
    }
}

.backstage__text {
    width: 40.08%;
    h2 {
        margin-bottom: 20px;
        font-family: $main-font-family-one;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        color: $text-color;
    }
    p {
        font-family: $main-font-family-one;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: $text-color;
        @media(max-width: 1000px) {
            line-height: 130%;
        }
    }
    .question-title {
        margin: 54px 0 34px;
        font-size: 24px;
    }
    @media(max-width: 1000px) {
        width: 454px;
    }
}