.backstage {
    position: relative;
}
.backstage__background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url("../../assets/images/flower.jpg");
    background-repeat: no-repeat;
    background-position: 110% 0px;
    z-index: -1;
    @media(min-width: 1601px) {
        left: calc(50% - 800px);
        width: 1600px;
    }
    @media(max-width: 1000px) {
        background-image: none;
    }
    @media(max-width: 640px) {
        background-image: url("../../assets/images/flower.jpg");
        height: 500px;
        background-position: 510px 0px;
        background-size: 231px 476px; 
    }
    @media(max-width: 320px) {
        width: 320px;
        height: 300px;
        background-position: 290px 50px;
        background-size: 105px 217px; 
    }
}
.backstage__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 118px;
    @media(max-width: 1000px) {
        padding-top: 100px;
        padding-bottom: 83px; 
    }
    @media(max-width: 640px) {
        padding-top: 60px;
        padding-bottom: 21px; 
    }
    @media(max-width: 320px) {
        padding-top: 104px;
        padding-bottom: 50px; 
    }
    .backstage__bamboo-cap {
        width: 52.5%;
        @media(max-width: 1000px) {
            width: 48.40%;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.backstage__text {
    width: 40.08%;
    @media(max-width: 1000px) {
        width: 454px;
        margin-left: 31px;
    }
    @media(max-width: 640px) {
        width: 484px;
        margin-left: 0px;
    }
    h2 {
        margin-bottom: 20px;
        font-family: $main-font-family-one;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        color: $text-color;
        @media(max-width: 320px) {
            font-size: 24px;
            line-height: 120%;
            margin-bottom: 10px;
        }
    }
    p {
        font-family: $main-font-family-one;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: $text-color;
        @media(max-width: 1000px) {
            line-height: 130%;
        }
    }
    .question-title {
        margin: 54px 0 34px;
        font-size: 24px;
        @media(max-width: 640px) {
            margin: 30px 0 20px;
        }
        @media(max-width: 320px) {
            margin: 20px 0 10px;
        }
    }
    
}
.backstage__bamboo-cap {
    @media(max-width: 640px) {
        display: none;
    }
}