.feed-friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 40px;
    padding-bottom: 180px;
    .feed-friend__title1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF;
    }
    p {
        margin: 10px 0 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
    .feed-friend__title2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #FE9013;
    }
}
.feed-friend__feed {
    margin-top: 60px;
    padding: 40px 92px 62px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: #FE9013;
    }
    .feed-friend__subtitle-h2 {
        margin: 20px 0 60px;
        font-size: 24px;
        line-height: 120%;
    }
    p {
        margin: 48px 0 17px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333B41;
    }
    .feed-friend__diet-day {
        display: flex;
        width: 532px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        .feed-friend__number {
            .feed-friend__main-number {
                margin: 64px 10px 0px 0px;
                font-weight: 500;
                font-size: 72px;
                line-height: 80%;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
            }
            p {
                margin: 11px 0 0 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #333B41;
            }
        } 
        .feed-friend__x {
            margin: 33px 65px 0 0;
        }
        .feed-friend__panda-icon {
            margin: 3px 8px 0 0;
        }
    } 
}

.progress-bar__place {
    margin-top: 20px;
}
.progress-bar__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 976px;
    height: 27px;
    background: #404950;
    border-radius: 2px;
    margin: 0 auto;
    .progress-bar__line {
        display: flex;
        align-items: center;
        width: 915px;
        height: 2px;
        background: #72828E;
    }
    
}
.progress-bar__ellipse-row {
    display: flex;
    justify-content: space-between;
    width: 1045px;
    z-index: 10;
    position: relative;
    left: 50px;
    top: -28px;
    .progress-bar__point {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 200px;
        cursor: pointer;
        .progress-bar__ellipse {
            width: 10px;
            height: 10px;
            background: #FFEE2E;
            border-radius: 50%;
            margin-left: 10px;
            &:not(:first-child) {
                margin-left: 120px;
            }
            
        }
        .progress-bar__price {
            margin-top: 19px;
            font-weight: 500;
            font-size: 26px;
            line-height: 140%;
            text-transform: uppercase;
            color: #333B41;
            transition: all 1s ease;
        }
        &:hover {
            .progress-bar__ellipse {
                box-shadow: 0 0 0 rgba(254, 144, 19, 0.8);
                animation: pulse1 1s infinite;
            }
            .progress-bar__price {
                color: #FE9013;
            }
        }
    }
}
@-webkit-keyframes pulse1 {
    0% {
      -webkit-box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse1 {
    0% {
      -moz-box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
      box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}



.feed-friend__input-number {
    width: 268px;
    padding: 16px 0 16px 9px;
    background-color: transparent;
    background-image: url("../../assets/icons/dollar.svg");
    background-position: 240px 17px;
    background-repeat: no-repeat;
    border: 1px solid #929699;
    border-radius: 2px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
   
    &:focus {
        outline: none;
        border: 0.7px solid #4B9200;
        color: #4B9200;
    }
}
.feed-friend__input-amount {
    width: 310px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

    .feed-friend__input-radio {
        margin-top: 25px;
        margin-bottom: 31px;
    }
    .feed-friend__share {
        margin: 30.02px 0 0 0;
        font-size: 16px;
        line-height: 140%;
        color: #333B41;
    }
}

.feed-friend__button {
    padding: 16px 74px;
    border-radius: 25px;
}