.pick-friend {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    @media(max-width: 1000px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @media(max-width: 640px) {
        padding-top: 19px;
        padding-bottom: 20px;
    }
}
.pick-friend__container {
    text-align: center;
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding-top: 41px;
    padding-bottom: 59px;
    margin: 0 auto;
    @media(max-width: 1000px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @media(max-width: 640px) {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    @media(max-width: 320px) {
        width: 93.75%;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .pick-friend__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        color: #FE9013;
        @media(max-width: 640px) {
            font-size: 42px;
        }
        @media(max-width: 320px) {
            font-size: 24px;
        }
    }
    .pick-friend__title-2 {
        margin: 60px 0px 40px;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #333B41;
        @media(max-width: 1000px) {
            margin: 40px 0;
        }
        @media(max-width: 640px) {
            margin: 30px 0 4px;
        }
        @media(max-width: 320px) {
            font-size: 24px;
            line-height: 120%;
            margin: 20px 0 20px;
        }
    }
}
.pick-friend__text {
    text-align: start;
    margin-left: 99px;
    
    .text-1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        margin: 30px 0px 40px 0;
        @media(max-width: 1000px) {
            margin: 20px 0;
        }
        @media(max-width: 640px) {
            font-size: 22px;
        }
        @media(max-width: 320px) {
            font-size: 18px;
            text-align: center;
            margin: 10px 20px 0 0;
        }
    }
    .text-2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #333B41;
        margin-bottom: 10px;
        @media(max-width: 1000px) {
            margin-right: 80px;
        }
        @media(max-width: 640px) {
            margin-right: 5px;
        }
        @media(max-width: 320px) {
            display: none;
        }
    }
    .text-3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #333B41;
        margin-right: 100px;
        @media(max-width: 1000px) {
            margin-right: 80px;
        }
        @media(max-width: 640px) {
            margin-right: 0px;
        }
        @media(max-width: 320px) {
            display: none;
        }
        a {
            color:#333B41;
            text-decoration: none;
            border-bottom: solid 1px #FE9013;
        }
    }
    @media(max-width: 1000px) {
        margin-left: 49px;
    }
    @media(max-width: 640px) {
        margin-left: 20px;
    }
}
.pick-friend__stages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 65.86%;
    margin: 0 auto;
    @media(max-width: 1000px) {
        width: 81.27%;
    }
    @media(max-width: 640px) {
        width: 91.87%;
        margin-left: 20px;
    }
    @media(max-width: 639px) {
        width: 220px;
        margin-left: 65px;
    }
    .pick-friend__stage {
        width: 168px;
        height: 244px;
        border-radius: 5px;
        .pick-friend__stage-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 168px;
            height: 168px;
            background-color: white;
            border: solid 1px $main-color-two;
            border-radius: 5px;
        }
        .pick-friend__stage-text {
            text-align: start;
            margin-top: 30px;

            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333B41;
            @media(max-width: 639px) {
                margin-top: 10px;
            }
        }
    }
}

.pick-friend__arrow {
    width: 69px;
    height: 35.08px;
    margin-bottom: 90px;
    @media(max-width: 640px) {
        margin-left: -48px;
        margin-bottom: 240px;
        z-index: 10;
        transform: rotate(-5deg);
    }
    @media (max-width: 639px) {
        margin-bottom: -150px;
        transform: rotate(90deg);
    }
}
.pick-friend__button {
    padding: 16px 75px;
    border-radius: 25px;
    margin: 60px auto 0;
    @media(max-width: 1000px) {
        margin: 70px auto 0; 
    }
    @media(max-width: 640px) {
        margin: 27px auto 0; 
    }
    @media(max-width: 320px) {
        padding: 16px 74px; 
    }
}
