.testimonials {
    background: url("../../assets/images/leav.svg") no-repeat 1355px 645px;
}
.testimonials__container {
    padding-top: 140px;
    padding-bottom: 180px;
}
h3 {
    margin-bottom: 47px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}
.testimonials__button {
    padding: 16px 83px;
    border-radius: 5px;
    margin-top: 31px;
}
