.testimonials {
    position: relative;
}
.testimonials__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: -1;
    background: url("../../assets/images/leav.svg") no-repeat 1350px 120px;
    @media(max-width: 1000px) {
        left: 0;
        width: 1000px;
        height: 200px;
        background: url("../../assets/images/1000px/leav_foto-1000px.svg") no-repeat 800px -30px;
    }
    @media(max-width: 640px) {
        width: 640px;
        background: url("../../assets/images/1000px/leav_foto-1000px.svg") 525px 68px / 203px 203px no-repeat ;
    }
    @media(max-width: 320px) {
        width: 320px;
        height: 100px;
        background: url("../../assets/images/1000px/leav_foto-1000px.svg") 265px 40px / 94px 94px no-repeat;
    }
}
.testimonials__container {
    padding: 140px 0 180px;
    @media(max-width: 1000px) {
        padding: 100px 0 140px; 
    }
    @media(max-width: 640px) {
        padding: 60px 0 80px; 
    }
    @media(max-width: 320px) {
        padding: 30px 0 60px; 
    }
}
h3 {
    margin-bottom: 47px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
    @media(max-width: 1000px) {
        margin-bottom: 30px;
    }
    @media(max-width: 320px) {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 20px;
    }
}
.testimonials__button {
    padding: 17px 83px;
    border-radius: 5px;
    margin-top: 31px;
    @media(max-width: 1000px) {
        margin-top: 52px;
    }
    @media(max-width: 640px) {
        padding: 17px 55px;
        margin: 40px auto 0;
    }
    @media(max-width: 320px) {
        padding: 17px 56px;
        margin: 30px auto 0;
    }
}
