@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: black;
}

.header__donate {
  position: static;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}

.header__container {
  display: grid;
  grid-template-columns: 7.1% 46.1% 46.81%;
  justify-items: end;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 82px;
  height: 52px;
  border: solid 1px white;
  border-radius: 2px;
  background: url("../../assets/icons/bamboo.svg") no-repeat 9px 23px;
}
.header__logo a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  transition: all 0.5s ease;
}
.header__logo a:hover {
  cursor: pointer;
}

.header__nav {
  width: 88.22%;
}

.header__designed a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}
.header__designed a:hover {
  cursor: pointer;
  color: #FE9013;
}

.animal {
  background-image: url("../../assets/images/panda_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  height: 390px;
}

.feed-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px;
}
.feed-friend .feed-friend__title1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}
.feed-friend p {
  margin: 10px 0 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.feed-friend .feed-friend__title2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
}

.feed-friend__feed {
  margin-top: 60px;
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.feed-friend__feed h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}
.feed-friend__feed .feed-friend__subtitle-h2 {
  margin: 20px 0 60px;
  font-size: 24px;
  line-height: 120%;
}
.feed-friend__feed p {
  margin: 48px 0 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.feed-friend__feed .feed-friend__diet-day {
  display: flex;
  width: 532px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__number .feed-friend__main-number {
  margin: 64px 10px 0px 0px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__number p {
  margin: 11px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__x {
  margin: 33px 65px 0 0;
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__panda-icon {
  margin: 3px 8px 0 0;
}

.progress-bar__place {
  margin-top: 20px;
}

.progress-bar__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  margin: 0 auto;
}
.progress-bar .progress-bar__line {
  display: flex;
  align-items: center;
  width: 915px;
  height: 2px;
  background: #72828E;
}

.progress-bar__ellipse-row {
  display: flex;
  justify-content: space-between;
  width: 1045px;
  z-index: 10;
  position: relative;
  left: 50px;
  top: -28px;
}
.progress-bar__ellipse-row .progress-bar__point {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}
.progress-bar__ellipse-row .progress-bar__point .progress-bar__ellipse {
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  margin-left: 10px;
}
.progress-bar__ellipse-row .progress-bar__point .progress-bar__ellipse:not(:first-child) {
  margin-left: 120px;
}
.progress-bar__ellipse-row .progress-bar__point .progress-bar__price {
  margin-top: 19px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
  transition: all 1s ease;
}
.progress-bar__ellipse-row .progress-bar__point:hover .progress-bar__ellipse {
  box-shadow: 0 0 0 rgba(254, 144, 19, 0.8);
  animation: pulse1 1s infinite;
}
.progress-bar__ellipse-row .progress-bar__point:hover .progress-bar__price {
  color: #FE9013;
}

@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse1 {
  0% {
    -moz-box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
    box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.feed-friend__input-number {
  width: 268px;
  padding: 16px 0 16px 9px;
  background-color: transparent;
  background-image: url("../../assets/icons/dollar.svg");
  background-position: 240px 17px;
  background-repeat: no-repeat;
  border: 1px solid #929699;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}
.feed-friend__input-number:focus {
  outline: none;
  border: 0.7px solid #4B9200;
  color: #4B9200;
}

.feed-friend__input-amount {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.feed-friend__input-amount .feed-friend__input-radio {
  margin-top: 25px;
  margin-bottom: 31px;
}
.feed-friend__input-amount .feed-friend__share {
  margin: 30.02px 0 0 0;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.feed-friend__button {
  padding: 16px 74px;
  border-radius: 25px;
}

.footer {
  background-color: #111115;
  color: white;
}

.footer__container {
  padding-top: 41px;
}

.footer__row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.footer__subscription p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer__button {
  padding: 16px 50px;
  border-radius: 5px;
}
.footer__button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 44px 0 50px;
}

.social-networks .social-networks__link {
  list-style-type: none;
}
.social-networks .social-networks__link:not(:last-child) {
  margin-bottom: 10px;
}
.social-networks .social-networks__link a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.social-networks .social-networks__link a:hover circle {
  transition: all 0.5s ease;
  fill: #4B9200;
}
.social-networks .social-networks__link span {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  vertical-align: middle;
  transition: all 0.5s ease;
}
.social-networks .social-networks__link span:hover {
  color: #4B9200;
}

.footer__nav {
  width: 366px;
}

.footer__designed {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer__input-email {
  width: 228px;
  margin-top: 14px;
  margin-right: 10px;
  padding: 10px;
  border: solid 0.7px #FE9013;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}
.footer__input-email:focus {
  outline: none;
  border: 0.7px solid #4B9200;
  border-radius: 2px;
}

.footer__input-submit {
  padding: 10px 39px;
  background-color: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  transition: all 0.5s ease;
}
.footer__input-submit:hover {
  border: 1px solid #4B9200;
  color: #4B9200;
}
.footer__input-submit:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.footer__menu {
  margin-left: 60px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__item {
  display: inline-block;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}
.menu__link:hover {
  cursor: pointer;
  color: #FE9013;
}

.menu__link_active {
  color: #FE9013;
}

.button-main {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: all 1s ease;
}
.button-main:hover {
  cursor: pointer;
  background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
}
.button-main:active {
  cursor: pointer;
  background: linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
}

/*# sourceMappingURL=donate.css.map */
