@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 72.5%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 94%;
  }
}
.header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  z-index: 30;
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    height: 34px;
  }
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    height: 34px;
  }
}

.header__donate {
  position: static;
}
@media (max-width: 640px) {
  .header__donate {
    position: fixed;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 7.1% 46.1% 46.81%;
  justify-items: end;
  align-items: center;
  height: 100%;
}
@media (max-width: 1000px) {
  .header__container {
    grid-template-columns: 8.72% 52.55% 38.72%;
  }
}
@media (max-width: 640px) {
  .header__container {
    grid-template-columns: 50% 50%;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 82px;
  height: 52px;
  border: solid 1px white;
  border-radius: 2px;
  background: url("../../assets/icons/bamboo.svg") no-repeat 9px 23px;
}
@media (max-width: 640px) {
  .header__logo {
    justify-self: start;
    width: 46.93px;
    height: 29.03px;
    background-size: 7px;
    background-position: 4px 14px;
    border: none;
  }
}
.header__logo a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  transition: all 0.5s ease;
}
.header__logo a:hover {
  cursor: pointer;
}
.header__logo a h1 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}
@media (max-width: 640px) {
  .header__logo a h1 {
    font-size: 12.29px;
  }
}

.header__nav {
  width: 88.22%;
}
@media (max-width: 1000px) {
  .header__nav {
    width: 87.24%;
  }
}
@media (max-width: 640px) {
  .header__nav {
    display: none;
  }
}

.header__designed a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}
.header__designed a:hover {
  cursor: pointer;
  color: #FE9013;
}
@media (max-width: 640px) {
  .header__designed {
    display: none;
  }
}

.animal__bg {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
  .animal__bg {
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 640px) {
  .animal__bg {
    width: 100%;
    margin-left: 0px;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .animal {
    height: 390px;
  }
}
@media (max-width: 640px) {
  .animal {
    height: 335px;
    margin-top: 34px;
  }
}
@media (max-width: 320px) {
  .animal {
    height: 187px;
  }
}

.feed-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 40px;
  padding-bottom: 180px;
}
@media (max-width: 1000px) {
  .feed-friend {
    padding-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .feed-friend {
    padding: 30px 0 46px;
  }
}
.feed-friend .feed-friend__title1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .feed-friend .feed-friend__title1 {
    margin-right: 100px;
  }
}
@media (max-width: 640px) {
  .feed-friend .feed-friend__title1 {
    font-size: 24px;
    line-height: 120%;
    margin-right: 0px;
  }
}
.feed-friend p {
  margin: 10px 0 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .feed-friend p {
    margin: 30px 0 40px;
  }
}
@media (max-width: 640px) {
  .feed-friend p {
    margin: 20px 0 30px;
  }
}
.feed-friend .feed-friend__title2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
}
@media (max-width: 320px) {
  .feed-friend .feed-friend__title2 {
    font-size: 24px;
    line-height: 120%;
  }
}

.feed-friend__feed {
  margin-top: 60px;
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
@media (max-width: 1000px) {
  .feed-friend__feed {
    padding: 20px 44px 46px 47px;
    margin-top: 40px;
  }
}
@media (max-width: 640px) {
  .feed-friend__feed {
    padding: 30px 0 31px;
    margin-top: 30px;
  }
}
.feed-friend__feed h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}
@media (max-width: 320px) {
  .feed-friend__feed h2 {
    font-size: 24px;
  }
}
.feed-friend__feed .feed-friend__subtitle-h2 {
  margin: 20px 0 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}
@media (max-width: 1000px) {
  .feed-friend__feed .feed-friend__subtitle-h2 {
    margin: 10px 0 60px;
  }
}
@media (max-width: 640px) {
  .feed-friend__feed .feed-friend__subtitle-h2 {
    text-align: center;
    margin: 20px 0 46px;
  }
}
@media (max-width: 320px) {
  .feed-friend__feed .feed-friend__subtitle-h2 {
    font-size: 16px;
    line-height: 140%;
  }
}
.feed-friend__feed p {
  margin: 48px 0 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
@media (max-width: 1000px) {
  .feed-friend__feed p {
    margin: 48px 0 17px 20px;
    font-weight: 400;
    color: #000000;
  }
}
@media (max-width: 640px) {
  .feed-friend__feed p {
    margin: 35px 0 0px 10px;
  }
}
@media (max-width: 320px) {
  .feed-friend__feed p {
    margin: 48px 0 17px 0;
  }
}
.feed-friend__feed .feed-friend__diet-day {
  display: flex;
  width: 532px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .feed-friend__feed .feed-friend__diet-day {
    width: 300px;
  }
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__number .feed-friend__main-number {
  margin: 64px 10px 0px 0px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 640px) {
  .feed-friend__feed .feed-friend__diet-day .feed-friend__number .feed-friend__main-number {
    margin: 56px 10px 0px 0px;
  }
}
@media (max-width: 320px) {
  .feed-friend__feed .feed-friend__diet-day .feed-friend__number .feed-friend__main-number {
    font-size: 40.6015px;
  }
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__number p {
  margin: 11px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
@media (max-width: 320px) {
  .feed-friend__feed .feed-friend__diet-day .feed-friend__number p {
    font-size: 9.02255px;
  }
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__x {
  margin: 33px 65px 0 0;
}
@media (max-width: 640px) {
  .feed-friend__feed .feed-friend__diet-day .feed-friend__x {
    margin: 33px 55px 0 0;
  }
}
@media (max-width: 320px) {
  .feed-friend__feed .feed-friend__diet-day .feed-friend__x {
    margin: 0;
  }
}
.feed-friend__feed .feed-friend__diet-day .feed-friend__panda-icon {
  margin: 3px 8px 0 0;
}

.progress-bar__place {
  margin-top: 20px;
}
@media (max-width: 640px) {
  .progress-bar__place {
    margin-top: 6px;
  }
}

.progress-bar__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .progress-bar {
    width: 810px;
  }
}
@media (max-width: 640px) {
  .progress-bar {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .progress-bar {
    width: 300px;
    height: 13.5px;
  }
}
.progress-bar .progress-bar__line {
  display: flex;
  align-items: center;
  width: 915px;
  height: 2px;
  background: #72828E;
}
@media (max-width: 1000px) {
  .progress-bar .progress-bar__line {
    width: 785px;
  }
}
@media (max-width: 640px) {
  .progress-bar .progress-bar__line {
    width: 524px;
  }
}
@media (max-width: 320px) {
  .progress-bar .progress-bar__line {
    width: 262px;
  }
}

.progress-bar__ellipse-row {
  display: flex;
  justify-content: space-between;
  width: 1045px;
  z-index: 10;
  position: relative;
  left: 50px;
  top: -28px;
}
@media (max-width: 1000px) {
  .progress-bar__ellipse-row {
    width: 890px;
    left: 40px;
  }
}
@media (max-width: 640px) {
  .progress-bar__ellipse-row {
    width: 590px;
    left: 5px;
  }
}
@media (max-width: 320px) {
  .progress-bar__ellipse-row {
    width: 280px;
    left: -3px;
    top: -19px;
  }
}
.progress-bar__ellipse-row .progress-bar__point {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .progress-bar__ellipse-row .progress-bar__point:nth-child(-n+3) {
    display: none;
  }
}
@media (max-width: 640px) {
  .progress-bar__ellipse-row .progress-bar__point:last-child {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .progress-bar__ellipse-row .progress-bar__point:last-child {
    width: 20px;
  }
}
@media (max-width: 320px) {
  .progress-bar__ellipse-row .progress-bar__point {
    width: 30px;
  }
}
.progress-bar__ellipse-row .progress-bar__point .progress-bar__ellipse {
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  margin-left: 10px;
}
.progress-bar__ellipse-row .progress-bar__point .progress-bar__ellipse:not(:first-child) {
  margin-left: 120px;
}
@media (max-width: 640px) {
  .progress-bar__ellipse-row .progress-bar__point .progress-bar__ellipse {
    margin-left: 25px;
  }
}
@media (max-width: 320px) {
  .progress-bar__ellipse-row .progress-bar__point .progress-bar__ellipse {
    width: 5px;
    height: 5px;
    margin-left: 11px;
  }
}
.progress-bar__ellipse-row .progress-bar__point .progress-bar__price {
  margin-top: 19px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
  transition: all 1s ease;
}
@media (max-width: 320px) {
  .progress-bar__ellipse-row .progress-bar__point .progress-bar__price {
    font-size: 13px;
  }
}
.progress-bar__ellipse-row .progress-bar__point:hover .progress-bar__ellipse {
  box-shadow: 0 0 0 rgba(254, 144, 19, 0.8);
  animation: pulse1 1s infinite;
}
.progress-bar__ellipse-row .progress-bar__point:hover .progress-bar__price {
  color: #FE9013;
}

@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse1 {
  0% {
    -moz-box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
    box-shadow: 0 0 0 0px rgba(254, 144, 19, 0.7);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.feed-friend__input-number {
  width: 268px;
  padding: 16px 0 16px 9px;
  background-color: transparent;
  background-image: url("../../assets/icons/dollar.svg");
  background-position: 240px 17px;
  background-repeat: no-repeat;
  border: 1px solid #929699;
  border-radius: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}
@media (max-width: 640px) {
  .feed-friend__input-number {
    width: 180px;
    padding: 11px 0 13px 6px;
    background-position: 155px 17px;
  }
}
.feed-friend__input-number:focus {
  outline: none;
  border: 0.7px solid #4B9200;
  color: #4B9200;
}

.feed-friend__input-amount {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 320px) {
  .feed-friend__input-amount {
    width: 300px;
  }
}
.feed-friend__input-amount .feed-friend__input-radio {
  margin-top: 25px;
  margin-bottom: 31px;
}
.feed-friend__input-amount .feed-friend__share {
  margin: 30.02px 0 0 0;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}
@media (max-width: 320px) {
  .feed-friend__input-amount .feed-friend__share {
    word-spacing: -1px;
  }
}

.feed-friend__button {
  padding: 16px 74px;
  border-radius: 25px;
}
@media (max-width: 640px) {
  .feed-friend__button {
    margin-left: 8px;
  }
}

.footer {
  background-color: #111115;
  color: white;
}

.footer__container {
  padding-top: 41px;
}
@media (max-width: 640px) {
  .footer__container {
    padding: 14px 0 12px;
  }
}
@media (max-width: 320px) {
  .footer__container {
    display: none;
  }
}

.footer__container_320px {
  padding: 20px 0;
}
@media (min-width: 321px) {
  .footer__container_320px {
    display: none;
  }
}

.footer__row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 36px;
}
@media (max-width: 640px) {
  .footer__row1 {
    margin-bottom: 66px;
  }
}

.footer__subscription {
  justify-self: end;
}
.footer__subscription p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .footer__subscription {
    margin-right: 32px;
  }
}
@media (max-width: 640px) {
  .footer__subscription {
    display: none;
  }
}

.footer__button {
  justify-self: start;
  padding: 16px 50px;
  border-radius: 5px;
  margin-top: 68px;
}
.footer__button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .footer__button {
    margin-top: 32px;
  }
}

.footer__row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 44px 0 50px;
}
@media (max-width: 640px) {
  .footer__row2 {
    padding: 0;
  }
}

.social-networks span {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  vertical-align: middle;
  transition: all 0.5s ease;
}
.social-networks span:hover {
  color: #4B9200;
}
@media (max-width: 640px) {
  .social-networks {
    display: none;
  }
}

.social-networks-640px {
  justify-self: end;
  height: 0;
}
@media (min-width: 641px) {
  .social-networks-640px {
    display: none;
  }
}
@media (max-width: 320px) {
  .social-networks-640px {
    display: flex;
    justify-content: space-between;
    width: 194px;
    margin: 30px auto;
  }
}

.social-networks__link {
  list-style-type: none;
}
.social-networks__link:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 640px) {
  .social-networks__link:not(:last-child) {
    margin-bottom: 20px;
  }
}
.social-networks__link a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.social-networks__link a:hover circle {
  transition: all 0.5s ease;
  fill: #4B9200;
}

.footer__nav {
  width: 366px;
}
@media (max-width: 1000px) {
  .footer__nav {
    width: 332px;
  }
}
@media (max-width: 640px) {
  .footer__nav {
    width: 297px;
  }
}
@media (max-width: 320px) {
  .footer__nav {
    width: 278px;
    margin: 0 auto;
  }
}

.footer__designed {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .footer__designed {
    margin: 30px 0;
    float: right;
  }
}
.footer__designed .footer__designed-text-1 {
  margin-bottom: 10px;
}

.footer__input-email {
  width: 228px;
  margin-top: 14px;
  margin-right: 10px;
  padding: 10px;
  border: solid 0.7px #FE9013;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}
.footer__input-email:focus {
  outline: none;
  border: 0.7px solid #4B9200;
  border-radius: 2px;
}

.footer__input-submit {
  padding: 10px 39px;
  background-color: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  transition: all 0.5s ease;
}
.footer__input-submit:hover {
  border: 1px solid #4B9200;
  color: #4B9200;
}
.footer__input-submit:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.footer__menu {
  margin-left: 60px;
}
@media (max-width: 1000px) {
  .footer__menu {
    margin-left: 50px;
  }
}
@media (max-width: 640px) {
  .footer__menu {
    margin-left: 0px;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 82px;
  height: 52px;
  border: solid 1px white;
  border-radius: 2px;
  background: url("../../assets/icons/bamboo.svg") no-repeat 9px 23px;
}
@media (max-width: 320px) {
  .footer__logo {
    width: 128px;
    height: 23px;
    border: none;
    background-position: 72px -2px;
    margin: 0 auto;
  }
}
.footer__logo a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  transition: all 0.5s ease;
}
.footer__logo a:hover {
  cursor: pointer;
}
.footer__logo a h1 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__item {
  display: inline-block;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}
.menu__link:hover {
  cursor: pointer;
  color: #FE9013;
}

.menu__link_active {
  color: #FE9013;
}

.button-main {
  display: block;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: all 1s ease;
}
.button-main:hover {
  cursor: pointer;
  background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
}
.button-main:active {
  cursor: pointer;
  background: linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
}

@media (max-width: 640px) {
  .header__burger-menu-btn {
    justify-self: end;
  }
}
@media (min-width: 641px) {
  .header__burger-menu-btn {
    display: none;
  }
}

.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 40px;
  background-color: #FFFFFF;
  width: 640px;
  transition: all 1s ease;
  transform: translateX(640px);
}
@media (min-width: 641px) {
  .burger-menu {
    display: none;
  }
}

.header__logo_burger-menu {
  display: flex;
  align-items: center;
  text-align: center;
  width: 65.6px;
  height: 41.6px;
  border: solid 1px #FE9013;
  border-radius: 2px;
  background: url("../../assets/icons/640px/bamboo_burger-menu.svg") no-repeat;
  background-size: 7px;
  background-position: 9px 22px;
}
.header__logo_burger-menu a {
  text-decoration: none;
  color: #FE9013;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}
.header__logo_burger-menu a:hover {
  cursor: pointer;
}
.header__logo_burger-menu a h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15.2116px;
  line-height: 120%;
}

.header__nav_burger-menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin-top: 30px;
  width: 100px;
}
.header__nav_burger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 207px;
}
.header__nav_burger-menu .menu__item {
  display: inline-block;
  list-style-type: none;
}
.header__nav_burger-menu .menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}
.header__nav_burger-menu .menu__link:hover {
  cursor: pointer;
  color: #FE9013;
}
.header__nav_burger-menu .menu__link_active {
  color: #FE9013;
}

/*# sourceMappingURL=donate.css.map */
