@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 72.5%;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    width: 94%;
  }
}
@media (max-width: 640px) {
  .container {
    width: 93.75%;
  }
}

.header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: black;
  z-index: 30;
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    height: 34px;
  }
}
@media (max-width: 640px) {
  .header {
    position: fixed;
    height: 34px;
  }
}

.header__donate {
  position: static;
}
@media (max-width: 640px) {
  .header__donate {
    position: fixed;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 7.1% 46.1% 46.81%;
  justify-items: end;
  align-items: center;
  height: 100%;
}
@media (max-width: 1000px) {
  .header__container {
    grid-template-columns: 8.72% 52.55% 38.72%;
  }
}
@media (max-width: 640px) {
  .header__container {
    grid-template-columns: 50% 50%;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 82px;
  height: 52px;
  border: solid 1px white;
  border-radius: 2px;
  background: url("../../assets/icons/bamboo.svg") no-repeat 9px 23px;
}
@media (max-width: 640px) {
  .header__logo {
    justify-self: start;
    width: 46.93px;
    height: 29.03px;
    background-size: 7px;
    background-position: 4px 14px;
    border: none;
  }
}
.header__logo a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  transition: all 0.5s ease;
}
.header__logo a:hover {
  cursor: pointer;
}
.header__logo a h1 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}
@media (max-width: 640px) {
  .header__logo a h1 {
    font-size: 12.29px;
  }
}

.header__nav {
  width: 88.22%;
}
@media (max-width: 1000px) {
  .header__nav {
    width: 87.24%;
  }
}
@media (max-width: 640px) {
  .header__nav {
    display: none;
  }
}

.header__designed a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}
.header__designed a:hover {
  cursor: pointer;
  color: #FE9013;
}
@media (max-width: 640px) {
  .header__designed {
    display: none;
  }
}

.about {
  width: 100%;
  height: 780px;
  background-image: url("../../assets/images/section1_ft.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (max-width: 1000px) {
  .about {
    height: 584px;
    background-size: auto 100%;
    background-position: -100px;
  }
}
@media (max-width: 640px) {
  .about {
    height: 373px;
    background-image: url("../../assets/images/640px/Giant-Panda-640px.jpg");
    background-position: 0px;
  }
}

.about__container {
  display: flex;
  justify-content: end;
}

.about__content {
  position: relative;
  top: 92px;
  width: 573px;
  height: 588px;
  background: url("../../assets/images/Ellipse6.svg") no-repeat;
}
@media (max-width: 1000px) {
  .about__content {
    background: url("../../assets/images/1000px/Ellipse6-1000px.svg") no-repeat;
    top: 69px;
    height: 469px;
    width: 458px;
    margin-right: 55px;
  }
}
@media (max-width: 640px) {
  .about__content {
    background: url("../../assets/images/640px/Ellipse6-640px.svg") 300px 0px no-repeat;
    top: 43px;
    height: auto;
    width: 458px;
    margin-right: 0px;
    width: 600px;
  }
}

.about__inner {
  width: 500px;
  float: right;
}
@media (max-width: 1000px) {
  .about__inner {
    width: 400px;
  }
}
@media (max-width: 640px) {
  .about__inner {
    width: 600px;
  }
}

.about__text {
  text-align: center;
  margin: 74px 0 60px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 106px;
  color: white;
  text-transform: uppercase;
  line-height: 80px;
}
.about__text span {
  color: #FFEE2E;
}
@media (max-width: 1000px) {
  .about__text {
    font-size: 85px;
    margin: 53px 0 43px;
    line-height: 75%;
  }
}
@media (max-width: 640px) {
  .about__text {
    font-weight: 700;
    font-size: 54.2894px;
    line-height: 75%;
    width: 255.64px;
    margin: 39px 0 0 348px;
  }
}

.about__button {
  padding: 16px 92px;
  margin-left: 103px;
  border-radius: 25px;
}
@media (max-width: 1000px) {
  .about__button {
    margin-left: 49px;
    padding: 18px 92px;
  }
}
@media (max-width: 640px) {
  .about__button {
    margin-top: -10px;
    margin-left: 0px;
  }
}

.backstage {
  background-image: url("../../assets/images/flower.jpg");
  background-repeat: no-repeat;
  background-position: 1400px 12px;
}
@media (max-width: 640px) {
  .backstage {
    background-position: 500px 0px;
    background-size: 231px 476px;
  }
}

.backstage__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 118px;
}
@media (max-width: 1000px) {
  .backstage__content {
    padding-top: 100px;
    padding-bottom: 83px;
  }
}
@media (max-width: 640px) {
  .backstage__content {
    padding-top: 60px;
    padding-bottom: 18px;
  }
}

.backstage__text {
  width: 40.08%;
}
.backstage__text h2 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #333B41;
}
.backstage__text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #333B41;
}
@media (max-width: 1000px) {
  .backstage__text p {
    line-height: 130%;
  }
}
.backstage__text .question-title {
  margin: 54px 0 34px;
  font-size: 24px;
}
@media (max-width: 640px) {
  .backstage__text .question-title {
    margin: 30px 0 20px;
  }
}
@media (max-width: 1000px) {
  .backstage__text {
    width: 454px;
  }
}

@media (max-width: 640px) {
  .backstage__bamboo-cap {
    display: none;
  }
}

.pets {
  background: url("../../assets/images/palm_foto.svg") no-repeat -480px 707px, url("../../assets/images/strelitzia.svg") no-repeat 1230px 890px;
}
@media (max-width: 1000px) {
  .pets {
    background: url("../../assets/images/1000px/palm_foto-1000px.svg") no-repeat -190px 940px, url("../../assets/images/1000px/strelitzia-1000px.svg") no-repeat 760px 960px;
  }
}
@media (max-width: 640px) {
  .pets {
    background: url("../../assets/images/1000px/palm_foto-1000px.svg") -200px 900px/385px 202px no-repeat, url("../../assets/images/1000px/strelitzia-1000px.svg") 470px 965px/175px 131px no-repeat;
  }
}

.pets__container {
  display: flex;
  flex-direction: column;
}

.pets__button {
  padding: 16px 60px;
  border-radius: 25px;
  margin: 80px auto 100px auto;
}
@media (max-width: 1000px) {
  .pets__button {
    padding: 18px 60px;
    margin: 80px auto 140px auto;
  }
}

.pick-friend {
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
@media (max-width: 1000px) {
  .pick-friend {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .pick-friend {
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.pick-friend__container {
  text-align: center;
  background-color: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding-top: 41px;
  padding-bottom: 59px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .pick-friend__container {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .pick-friend__container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 60px;
  }
}
.pick-friend__container .pick-friend__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FE9013;
}
@media (max-width: 640px) {
  .pick-friend__container .pick-friend__title {
    font-size: 42px;
  }
}
.pick-friend__container .pick-friend__title-2 {
  margin: 60px 0px 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
}
@media (max-width: 1000px) {
  .pick-friend__container .pick-friend__title-2 {
    margin: 40px 0;
  }
}

.pick-friend__text {
  text-align: start;
  margin-left: 99px;
}
.pick-friend__text .text-1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #333B41;
  margin: 30px 0px 40px 0;
}
@media (max-width: 1000px) {
  .pick-friend__text .text-1 {
    margin: 20px 0;
  }
}
@media (max-width: 640px) {
  .pick-friend__text .text-1 {
    font-size: 24px;
  }
}
.pick-friend__text .text-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333B41;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .pick-friend__text .text-2 {
    margin-right: 80px;
  }
}
@media (max-width: 640px) {
  .pick-friend__text .text-2 {
    margin-right: 0px;
  }
}
.pick-friend__text .text-3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333B41;
  margin-right: 100px;
}
@media (max-width: 1000px) {
  .pick-friend__text .text-3 {
    margin-right: 80px;
  }
}
@media (max-width: 640px) {
  .pick-friend__text .text-3 {
    margin-right: 0px;
  }
}
.pick-friend__text .text-3 a {
  color: #333B41;
  text-decoration: none;
  border-bottom: solid 1px #FE9013;
}
@media (max-width: 1000px) {
  .pick-friend__text {
    margin-left: 49px;
  }
}
@media (max-width: 640px) {
  .pick-friend__text {
    margin-left: 20px;
  }
}

.pick-friend__stages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 764px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .pick-friend__stages {
    width: 588px;
  }
}
@media (max-width: 320px) {
  .pick-friend__stages {
    width: 200px;
  }
}
.pick-friend__stages .pick-friend__stage {
  width: 168px;
  height: 244px;
  border-radius: 5px;
}
.pick-friend__stages .pick-friend__stage .pick-friend__stage-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background-color: white;
  border: solid 1px #FE9013;
  border-radius: 5px;
}
.pick-friend__stages .pick-friend__stage .pick-friend__stage-text {
  text-align: start;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.pick-friend__arrow {
  width: 69px;
  height: 35.08px;
  margin-bottom: 90px;
}
@media (max-width: 640px) {
  .pick-friend__arrow {
    margin-left: -50px;
    margin-bottom: 240px;
    z-index: 10;
  }
}

.pick-friend__button {
  padding: 16px 75px;
  border-radius: 25px;
  margin: 60px auto 0;
}
@media (max-width: 1000px) {
  .pick-friend__button {
    margin: 70px auto 0;
  }
}
@media (max-width: 640px) {
  .pick-friend__button {
    margin: 40px auto 0;
  }
}

.testimonials {
  background: url("../../assets/images/leav.svg") no-repeat 1355px 645px;
}
@media (max-width: 1000px) {
  .testimonials {
    background: url("../../assets/images/1000px/leav_foto-1000px.svg") no-repeat 800px 600px;
  }
}

.testimonials__container {
  padding: 140px 0 180px;
}
@media (max-width: 1000px) {
  .testimonials__container {
    padding: 100px 0 140px;
  }
}
@media (max-width: 640px) {
  .testimonials__container {
    padding: 60px 0 80px;
  }
}

h3 {
  margin-bottom: 47px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
}
@media (max-width: 1000px) {
  h3 {
    margin-bottom: 30px;
  }
}

.testimonials__button {
  padding: 17px 83px;
  border-radius: 5px;
  margin-top: 31px;
}
@media (max-width: 1000px) {
  .testimonials__button {
    margin-top: 52px;
  }
}
@media (max-width: 640px) {
  .testimonials__button {
    padding: 17px 40px;
    margin: 40px auto 0;
  }
}

.footer {
  background-color: #111115;
  color: white;
}

.footer__container {
  padding-top: 41px;
}

.footer__row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 36px;
}

.footer__subscription {
  justify-self: end;
}
.footer__subscription p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .footer__subscription {
    margin-right: 32px;
  }
}
@media (max-width: 640px) {
  .footer__subscription {
    display: none;
  }
}

.footer__button {
  justify-self: start;
  padding: 16px 50px;
  border-radius: 5px;
  margin-top: 68px;
}
.footer__button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .footer__button {
    margin-top: 32px;
  }
}

.footer__row2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 44px 0 50px;
}

.social-networks span {
  margin-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  vertical-align: middle;
  transition: all 0.5s ease;
}
.social-networks span:hover {
  color: #4B9200;
}
@media (max-width: 640px) {
  .social-networks {
    display: none;
  }
}

.social-networks-640px {
  justify-self: end;
}
@media (min-width: 641px) {
  .social-networks-640px {
    display: none;
  }
}

.social-networks__link {
  list-style-type: none;
}
.social-networks__link:not(:last-child) {
  margin-bottom: 10px;
}
.social-networks__link a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.social-networks__link a:hover circle {
  transition: all 0.5s ease;
  fill: #4B9200;
}

.footer__nav {
  width: 366px;
}
@media (max-width: 1000px) {
  .footer__nav {
    width: 332px;
  }
}
@media (max-width: 640px) {
  .footer__nav {
    width: 297px;
  }
}

.footer__designed {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.footer__designed .footer__designed-text-1 {
  margin-bottom: 10px;
}

.footer__input-email {
  width: 228px;
  margin-top: 14px;
  margin-right: 10px;
  padding: 10px;
  border: solid 0.7px #FE9013;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
}
.footer__input-email:focus {
  outline: none;
  border: 0.7px solid #4B9200;
  border-radius: 2px;
}

.footer__input-submit {
  padding: 10px 39px;
  background-color: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  transition: all 0.5s ease;
}
.footer__input-submit:hover {
  border: 1px solid #4B9200;
  color: #4B9200;
}
.footer__input-submit:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.footer__menu {
  margin-left: 60px;
}
@media (max-width: 1000px) {
  .footer__menu {
    margin-left: 50px;
  }
}
@media (max-width: 640px) {
  .footer__menu {
    margin-left: 0px;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  text-align: center;
  width: 82px;
  height: 52px;
  border: solid 1px white;
  border-radius: 2px;
  background: url("../../assets/icons/bamboo.svg") no-repeat 9px 23px;
}
.footer__logo a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  transition: all 0.5s ease;
}
.footer__logo a:hover {
  cursor: pointer;
}
.footer__logo a h1 {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-weight: 400;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__item {
  display: inline-block;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}
.menu__link:hover {
  cursor: pointer;
  color: #FE9013;
}

.menu__link_active {
  color: #FE9013;
}

.slider__nav__buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 465px;
  left: -82px;
  width: 1322px;
}
.slider__nav__buttons .slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .slider__nav__buttons {
    top: 430px;
    left: 323px;
    width: 295px;
  }
}
@media (max-width: 640px) {
  .slider__nav__buttons {
    top: 405px;
    left: 223px;
    width: 154px;
  }
}
@media (max-width: 320px) {
  .slider__nav__buttons {
    display: none;
  }
}

.slider__visible-cards {
  overflow: hidden;
}
@media (max-width: 640px) {
  .slider__visible-cards {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .slider__visible-cards {
    width: 320px;
  }
}

.slider__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 30px;
  width: 100%;
}
@media (max-width: 1000px) {
  .slider__cards {
    grid-gap: 92px 30px;
  }
}
@media (max-width: 320px) {
  .slider__cards {
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }
}
.slider__cards .slider__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 368px;
  height: 426px;
  border: solid 1px #FE9013;
  border-radius: 5px;
  transition: all 1s ease;
}
@media (max-width: 1000px) {
  .slider__cards .slider__card {
    width: 294px;
    height: 354px;
  }
}
@media (max-width: 640px) {
  .slider__cards .slider__card {
    width: 285px;
    height: 332px;
  }
}
.slider__cards .slider__card .slider__card-image {
  width: 366px;
  height: 366px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 1s ease;
}
@media (max-width: 1000px) {
  .slider__cards .slider__card .slider__card-image {
    width: 294px;
    height: 294px;
  }
}
@media (max-width: 640px) {
  .slider__cards .slider__card .slider__card-image {
    width: 285px;
    height: 285px;
  }
}
.slider__cards .slider__card .slider__card-image img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider__cards .slider__card .slider__card-description {
  display: flex;
  justify-content: space-between;
  width: 338px;
  transition: all 1s ease;
}
@media (max-width: 1000px) {
  .slider__cards .slider__card .slider__card-description {
    width: 264px;
  }
}
@media (max-width: 640px) {
  .slider__cards .slider__card .slider__card-description {
    align-items: center;
    margin-bottom: 8px;
  }
}
.slider__cards .slider__card .slider__card-description-text {
  display: flex;
  flex-direction: column;
}
.slider__cards .slider__card .slider__card-description-text .slider__card-name {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  transition: all 1s ease;
}
@media (max-width: 640px) {
  .slider__cards .slider__card .slider__card-description-text .slider__card-name {
    font-size: 12.4695px;
    line-height: 12px;
    align-items: center;
    margin-left: 0px;
  }
}
.slider__cards .slider__card .slider__card-description-text .slider__card-location {
  margin-left: 16px;
  margin-bottom: 14px;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  transition: all 1s ease;
}
@media (max-width: 640px) {
  .slider__cards .slider__card .slider__card-description-text .slider__card-location {
    font-size: 11.6901px;
    margin-bottom: 0px;
    line-height: 10px;
    margin-left: 0px;
  }
}
.slider__cards .slider__card .slider__card-banana {
  width: 33px;
  height: 37px;
  margin-right: 12px;
  background: url("../../assets/icons/banana-bamboo_icon.svg") no-repeat center center;
}
@media (max-width: 640px) {
  .slider__cards .slider__card .slider__card-banana {
    width: 25.72px;
    height: 28.84px;
    background-size: 25.72px 28.84px;
    margin-right: 0px;
  }
}
.slider__cards .slider__card .slider__card-meet {
  width: 48px;
  height: 38px;
  margin-right: 8px;
  background: url("../../assets/icons/meet-fish_icon.svg") no-repeat center center;
}
@media (max-width: 640px) {
  .slider__cards .slider__card .slider__card-meet {
    width: 37.41px;
    height: 29.62px;
    background-size: 37.41px 29.62px;
    margin-right: 0px;
  }
}
.slider__cards .slider__card:hover .slider__card-description {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-50px);
}
.slider__cards .slider__card:hover .slider__card-image {
  width: 386px;
  height: 386px;
  transform: translateY(-15px);
}
@media (max-width: 1000px) {
  .slider__cards .slider__card:hover .slider__card-image {
    width: 305px;
    height: 305px;
  }
}
.slider__cards .slider__card:hover .slider__card-name {
  color: #FFFFFF;
}
.slider__cards .slider__card:hover .slider__card-location {
  margin-bottom: 0px;
  color: #FFFFFF;
}

.button-main {
  display: block;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: all 1s ease;
}
.button-main:hover {
  cursor: pointer;
  background: linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
}
.button-main:active {
  cursor: pointer;
  background: linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
}

.testimonials__slider {
  height: 420px;
}
@media (max-width: 640px) {
  .testimonials__slider {
    height: 357px;
  }
}

.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .testimonials__cards {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}

.testimonials__visible-cards {
  height: 391px;
  overflow: hidden;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .testimonials__visible-cards {
    height: 357px;
  }
}

.testimonials__card {
  position: relative;
  width: 263px;
  height: 387px;
  padding: 15px 14px 19px 16px;
  background: #F1F3F2;
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
}
@media (max-width: 1000px) {
  .testimonials__card {
    width: 290px;
  }
}
@media (max-width: 640px) {
  .testimonials__card {
    height: 105px;
    width: 596px;
  }
}

.testimonials__card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 267px;
  height: 391px;
  border-radius: 20px;
  z-index: -1;
  background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
@media (max-width: 1000px) {
  .testimonials__card-border {
    width: 293px;
  }
}
@media (max-width: 640px) {
  .testimonials__card-border {
    height: 109px;
    width: 600px;
  }
}

.testimonials__data {
  display: flex;
}

.testimonials__name-location {
  margin-left: 10px;
}
.testimonials__name-location .testimonials__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.testimonials__name-location .testimonials__location-date {
  display: flex;
}
.testimonials__name-location .testimonials__location-date .testimonials__location {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.testimonials__name-location .testimonials__location-date .testimonials__location::after {
  content: "•";
  margin-left: 6px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.testimonials__name-location .testimonials__location-date .testimonials__date {
  margin-left: 6px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials__description {
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.slider-scroll {
  width: 599px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .slider-scroll {
    width: 390px;
  }
}
@media (max-width: 640px) {
  .slider-scroll {
    display: none;
  }
}

.scroll {
  -webkit-appearance: none;
  appearance: none;
  width: 599px;
  height: 8px;
  border-radius: 5px;
  background: #F5F7F6;
  outline: none;
  transition: 0.2s;
}
@media (max-width: 1000px) {
  .scroll {
    width: 390px;
  }
}

.scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115px;
  height: 6px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .scroll::-webkit-slider-thumb {
    width: 75px;
  }
}

.scroll::-moz-range-thumb {
  width: 115px;
  height: 6px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}

@media (max-width: 640px) {
  .header__burger-menu-btn {
    justify-self: end;
  }
}
@media (min-width: 641px) {
  .header__burger-menu-btn {
    display: none;
  }
}

.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 40px;
  background-color: #FFFFFF;
  width: 640px;
  transition: all 1s ease;
  transform: translateX(640px);
}
@media (min-width: 321px) {
  .burger-menu {
    display: none;
  }
}

.header__logo_burger-menu {
  display: flex;
  align-items: center;
  text-align: center;
  width: 65.6px;
  height: 41.6px;
  border: solid 1px #FE9013;
  border-radius: 2px;
  background: url("../../assets/icons/640px/bamboo_burger-menu.svg") no-repeat;
  background-size: 7px;
  background-position: 9px 22px;
}
.header__logo_burger-menu a {
  text-decoration: none;
  color: #FE9013;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}
.header__logo_burger-menu a:hover {
  cursor: pointer;
}
.header__logo_burger-menu a h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15.2116px;
  line-height: 120%;
}

.header__nav_burger-menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  margin-top: 30px;
  width: 100px;
}
.header__nav_burger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 207px;
}
.header__nav_burger-menu .menu__item {
  display: inline-block;
  list-style-type: none;
}
.header__nav_burger-menu .menu__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease;
}
.header__nav_burger-menu .menu__link:hover {
  cursor: pointer;
  color: #FE9013;
}
.header__nav_burger-menu .menu__link_active {
  color: #FE9013;
}

/*# sourceMappingURL=style-main.css.map */
